@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , 'sans-serif';
    box-sizing: border-box;
    
}
body{
    background: #081b29;
    color: #ededed;

}
.header{
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: fixed;
    top: 0;
    left:0;
    background-color: #00abf0;

}
.logo{
    font-size: 25px;
    text-decoration: none;
    color: #ededed;
    font-weight: 600;
}

.navbar a{
    font-weight: 500;
    text-decoration: none;
    color: #ededed;
    margin-left: 35px;
    font-size: 18px;
}
.navbar a:hover{
    color: #081b29;
}
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.home-content p{
    font-size: 20px;
    margin: 20px 0 40px;

}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    

}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
}
.btn-box a:hover{
    color: #00abf0;
}
.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2)::before{
    background: #00abf0;
}
.btn-box a:nth-child(2):hover{
    color: #081b29;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #081b29;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before{
    width: 100%;
}
.icons{
    position: absolute;
    bottom: 200px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.icons a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 30px;
    color: #00abf0;
    text-decoration: none;
    margin-top: 20px;

}
.imgabout img{
    height: 400px;
    width: 400px;
    size: 200px;
    float: left;
    margin: 10px;
    padding: 30px;
   
    border-radius: 50%;
    margin-left: 80px;
    margin-bottom: 100px;
   
}
#about h1 , #skills h1 ,#contact h1 , #projects h1{
    margin: 30px;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    color: #00abf0;
    font-style: italic;
    font-weight: 80px;

}
.abouttext{
    margin: 20px;
}
#skills p , h2 , #contact p {
    margin: 20px;
    text-align: center;
 
}
#contact a{
    color: #00abf0;
}
.images img {
    float: left;
    height: 500px;
    width: 600px;
    margin: 30px;
}
.images{
    display: flex;
    justify-content: space-between;
}
#projects  h3  {
     margin-left: 20px;
     margin-bottom: 10px;
}
#projects pre{
    margin-left: 30px;
}
footer {
    background: #333;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}
footer p{
    color: white;
}






